* { box-sizing: border-box; }
body, html {
	margin: 0;
	height: 100%;
	font-family: 'Vollkorn', serif;
}

body {
	font-size: 20px;
  font-size: min(max(18px, 4vw), 24px);
	padding: 8vw;
	padding: min(max(20px, 8vw), 100px);
}

textarea {
	background-color: inherit;
	border: none;
	color: inherit;
	display: block;
	font-family: 'Vollkorn', serif;
	line-height: 1.25em;
	margin: 0 auto;
	max-width: 700px;
	outline: none;
	overflow: hidden;
	resize: none;
	width: 100%;
  font-size: inherit;
  font-variant-numeric: tabular-nums;
}

.toggleFullscreen {
	.dark & svg {
		stroke: #ccc8bb;
	}
	
	.minimize {
		display: none;
	}
}

.dark {
	color: #ccc8bb;
	background: #202020;
}

button {
	border: none;
	cursor: pointer;
	padding: 1em;
	background: none;
	outline: none;
}

.darkSwitch {
	.brightMode {
		display: none;
	}
	.dark & {
		.darkMode {
			display: none;
		}
		.brightMode {
			display: inline;
		}
	}
}

.foldout {
	position: absolute;
	top:0;
	left: 0;
	height: auto;
	width: 100%;
	overflow: hidden;
	
	display: flex;
	align-items: center;
	justify-content: center;

	opacity: 0;
	background: rgba(255,255,255,.2);
	transform: translateY(-80%);
	transition: transform .15s ease-out, opacity .15s ease-out;
	padding: 2vw;


	&:hover {
		transform: translateY(0%);
		backdrop-filter: blur(8px);
		opacity: 1;
		box-shadow: 0px 0px 24px rgba(0,0,0,.08);
		transition: transform .15s ease-out, opacity .15s ease-out;

	}

	.dark & {
		background: rgba(0, 0, 0, 0.089);
		color: inherit;
	}
}

@media all and (display-mode: fullscreen) {
	.toggleFullscreen {
		.minimize {
			display: inline;
		}
		.maximize {
			display: none;
		}
	}
}